include partials/head
body
	.loader
		.preloader
			.lines
				.line.line-1
				.line.line-2
				.line.line-3
			.loading-text загрузка
	#site-wrapper
		.hero
			.content-wrapper
				.bg-image
					img(src="../img/assets/img-clip.svg", alt="")
				.header
					.logo
						img(src="/img/assets/brand/logo.svg", alt="Оджахури логотип")
					p.
						Сеть ресторанов и кулинарных лавок грузинской кухни
				nav
					ul
						li
							a(href="#") 
								h2 Москва
								p Садовая-Черногрязская, 22, стр.1
						li
							a(href="#") 
								h2 Королев
								p Проспект Королева 6Г
						li
							a(href="#") 
								h2 Химки
								p ул. Молодежная д.6
						li
							a(href="#") 
								h2 Кулинарии
				.footer
					ul
						li
							a(href="#").slow-ride
								h2 Наши новости
						li
							a(href="//www.ojakhuri.ru/vacancies/") 
								h2 Вакансии
						li
							a(href="//gulianigroup.com" target="_blank")
								img(src="/img/assets/brand/gg-logo.svg", alt="").gg-logo
		.main-content
			section.text
				.container
					article
						h1 Грузинская домашняя кухня и семейное гостепреимство
						p.
							В переводе с грузинского «Оджахури» означает «семейный, домашний», и именно этими ценностями мы хотим с Вами поделиться. Приходите в наш ресторан и узнайте, что такое грузинское гостеприимство и настоящая домашняя кухня. У нас вы всегда сможете насладиться непревзойденным вкусом сациви из курицы, попробовать тающий во рту люля-кебаб из баранины, черноморскую барабульку и, конечно же, хинкали, за качество которых отвечают чемпионы Грузии, отец и сын, Уча и Борис Гиоргберидзе. Каждый вечер в «Оджахури» играет живая музыка. С четверга по субботу работает отдельный зал для караоке. Ежедневно в ресторане играет живая музыка. Мы всегда рады Вам, потому что гость, как говорят в Грузии, от Бога!

			section.news
				.container
					.news-weapper
						.news-item
							.img
								a(href="#")
									img(src="../img/ng_2019_2.jpg", alt="Изображение новости")
							.header
								a(href="#")
									h2 Тбилисоба на Усачевском рынке
							.content
								p.
									7 октября в грузинской лавке Оджахури на Усачёвском рынке мы отмечаем Тбилисобу!
						
						.news-item
							.img
								a(href="#")
									img(src="../img/ng_2019_2.jpg", alt="Изображение новости")
							.header
								a(href="#")
									h2 Тбилисоба на Усачевском рынке
							.content
								p.
									7 октября в грузинской лавке Оджахури на Усачёвском рынке мы отмечаем Тбилисобу!
						
						.news-item
							.img
								a(href="#")
									img(src="../img/ng_2019_2.jpg", alt="Изображение новости")
							.header
								a(href="#")
									h2 Тбилисоба на Усачевском рынке
							.content
								p.
									7 октября в грузинской лавке Оджахури на Усачёвском рынке мы отмечаем Тбилисобу!
						
						.news-item
							.img
								a(href="#")
									img(src="../img/ng_2019_2.jpg", alt="Изображение новости")
							.header
								a(href="#")
									h2 Тбилисоба на Усачевском рынке
							.content
								p.
									7 октября в грузинской лавке Оджахури на Усачёвском рынке мы отмечаем Тбилисобу!
						.news-item
							.img
								a(href="#")
									img(src="../img/ng_2019_2.jpg", alt="Изображение новости")
							.header
								a(href="#")
									h2 Тбилисоба на Усачевском рынке
							.content
								p.
									7 октября в грузинской лавке Оджахури на Усачёвском рынке мы отмечаем Тбилисобу!

		section#site-footer
			include partials/site-footer