.news {
	@include wrapper($bg-color: ac(secondary));
}

.news-weapper {
	display: flex;
	flex-flow: row wrap;
}

.news-item {
	margin: 0 auto;
	margin-top: 4rem;
	& .img img{
		width: 100%;
	}
	& .header {
		margin-top: 2rem;
		& h2 {
			text-transform: uppercase;
			text-align: center;
		}
	}
	& .content {
		& p {
			margin-top: 2rem;
		}
	}
}

@media (min-width: $b-large) {
	.news-item {
		width: percentage(6/12);
		padding: 4rem;
		&:nth-child(n+3) {
			margin-top: 8rem;
		}
	}
}