.text {
	@include border(primary);
	@include wrapper($bg-color: ac(primary));
}

.text article {
	& h1 {
		text-align: center;
		max-width: 66rem;
		margin: 0 auto;
	}
}

@media (min-width: $b-medium) {
	.text article {
		& h1 {
			max-width: 70rem;
		}
		& p {
			columns: 2;
			column-gap: 2rem;
		}
	}
}